---
const baseURL = import.meta.env.BASE_URL;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={baseURL + "/favicon.svg"} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href={baseURL + "/"}>Home</a>
    <a href={baseURL + "/about"}>About</a>
    <a href={baseURL + "/blog"}>Blog</a>

    <h1>Astro</h1>
    <h1>XIA lU JIAO WO QU WO ZEN ME QU!</h1>
  </body>
</html>
